.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 1px solid darkslategrey;
  border-radius: 5px;
  padding: 20px;
}

.active-filter {
  background-color: cornflowerblue;
}

.completed-task {
  opacity: 0.5;
}

.error {
  border: 2px solid red;
}

.error:active {
  border: none;
}